<header id="title-block-header">
$if(title)$<h1 class="title">$title$</h1>$endif$
$if(subtitle)$
<p class="subtitle">$subtitle$</p>
$endif$
$for(author)$
<p class="author">$author$</p>
$endfor$

$if(date)$
<p class="date">$date$</p>
$endif$
$if(abstract)$
<div class="abstract">
<div class="abstract-title">$abstract-title$</div>
$abstract$
</div>
$endif$

$if(instructor)$
<dl>
$for(instructor)$
$if(instructor.name)$
<dt>Instructor</dt><dd>$instructor.name$</dd>
$endif$
$if(instructor.email)$
<dt>E-mail</dt><dd><a href="mailto:$instructor.email$">$instructor.email$</a></dd>
$endif$ 
$if(instructor.office)$
<dt>Office</dt><dd>$instructor.office$$else$TBD</dd>
$endif$
$if(instructor.site)$<dt>Website</dt><dd>$instructor.site$</dd>$endif$
$sep$, $endfor$
</dl>
$endif$ 

$if(officehours)$
<dt>Office Hours (Get help)</dt><dd>$officehours$</dd>
$endif$
</dl>
$if(class)$
  <dl>
  <dt>Time</dt>           <dd>$if(class.time)$    $class.time$ $else$ TBD $endif$</dd>
  <dt>Location</dt>       <dd>$if(class.room)$    $class.room$ $else$ TBD $endif$</dd>
  $if(class.final)$
  <dt>Final Exam</dt>     <dd>$class.final$</dd>
  $endif$
  $if(class.site)$
  <dt>Course Website</dt> <dd>$class.site$</dd>
  $endif$
  </dl>
$endif$
</header>